<!doctype html>
<html ng-app="btec-grade-calculator">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//app.userapp.io/js/userapp.client.js"></script>
	 <script src="//app.userapp.io/js/angularjs.userapp.js"></script>
    <script src="ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="app.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div ng-controller="ListCtrl" class="container">
    <div class="row"><h3 class="col-md-4">{{ user.first_name }}</h3></div>
    <div class="row"><h3 class="col-md-4">{{ user.authenticated }}</h3></div>
    
    <div ng-view></div>
	<div class="row">
		<button class="btn btn-primary" ng-click="addunit()">Add unit</button>
	</div>
	<div class="row">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="col-md-4">Name</th>
            <th class="col-md-1">Level</th>
            <th class="col-md-1">Units</th>
            <th class="col-md-1">Grade</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="unit in units">
          <td>{{unit.name}}</td>
          <td>{{unit.level}}</td>
          <td>{{unit.units}}</td>
          <td>{{unit.grade}}</td>
          <td>
          <button class="btn btn-small" ng-click="edit(unit)">Edit</button>
          <button class="btn btn-small btn-danger" ng-click="delete(unit)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
